<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Harjotustyo</title>
</head>
<body>
<h1>Add Music</h1>
<div>
<form th:object="${music}" th:action="@{../savemusic}" action="#" method="post">
<input type="hidden" id="id" th:field="*{musicID}"/>
<label for="artist">Artist</label>
<input type="text" id="artist" th:field="*{artist}"/>
<label for="name">Name</label>
<input type="text" id="name" th:field="*{name}"/> 
<label for="genre">Genre</label> 
<input type="text" id="genre" th:field="*{genre}"/> 
<label for="year">Year</label>
<input type="text" id="year" th:field="*{year}"/>

 
<input type="submit" value="Save"></input>
</form>
</div>
</body>
</html>