<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>Insert title here</title>
</head>
<body>
<h1>Leffat</h1>
<table>
<tr>
	<th>Artist</th>
	<th>Name</th>
	<th>Year</th>
	<th>Genre</th>
	</tr>
<tr th:each="music : ${musics}">
	<td th:text="${music.artist}"></td>
	<td th:text="${music.name}"></td>
	<td th:text="${music.year}"></td>
	<td th:text="${music.genre}"></td>		
	</tr>
</table>

</body>
</html>